.custom-control {
    background: white;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.custom-control button {
    display: block;
    width: 100%;
    padding: 6px;
    margin: 2px 0;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}

.custom-control button:hover {
    background: #e5e7eb;
}